.accordionwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.accordionwrapper button {
  padding: 10px 20px;
  background: #237424;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.accordion {
  width: 500px;
}

.item {
  background: #237424;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.title {
  color: #ffffffff;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.content {
  color: #ffffffff;
  height: auto;
  padding: 20px;
}
