// Scroll to top button
// ==========================
.to-top {
    position: fixed;
    bottom: 16px;
    right: 32px;
    cursor: pointer;
    transition: all 0.4s;

    img {
        width: 50px;
    }
}
