@use "../assets/generalStyles/mixinLib.scss";

// LOAN DATA
// ===================

.loan-data-container {
    margin: 1.5rem;
    padding: 2px 24px 32px 24px;
    font-size: 1.1rem;
    background-color: white;
    border-bottom: 10px solid var(--medium-violet);
    box-shadow: 4px 3px 8px -4px rgba(112, 112, 112, 1);

    form {
        @include mixinLib.gridAutofit($gwmax: 220px, $gap: 72px);

        label {
            font-weight: 500;
        }

        input {
            height: 30px;
            font-size: 1.1rem;
            text-indent: 5px;
            border: var(--dark-violet) 1px dotted;

            &:focus {
                outline: none;
                border: 1px solid var(--midnight-violet);
            }
        }

        p {
            font-size: 1.1rem;
            font-weight: 500;
        }

        .loan-amount {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 8px;
            align-items: center;

            label {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
            }
        }

        .payout-date {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 8px;
            align-items: center;

            label {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
            }

            input {
                grid-column: 1 / 3;
                grid-row: 2 / 3;
            }
        }

        .duration {
            display: grid;
            grid-template-columns: 90px auto;
            grid-template-rows: 1fr 1fr;
            gap: 8px;
            align-items: center;

            label {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
            }

            input {
                width: 80px;
            }
        }

        .interest-rate {
            display: grid;
            grid-template-columns: 90px auto;
            grid-template-rows: 1fr 1fr;
            gap: 8px;
            align-items: center;

            label {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
            }

            input {
                width: 80px;
            }
        }
    }
}

// DEBTOR DATA
// ===================
.debtor-data-container {
    margin-inline: 1.5rem;
    padding: 2px 24px 32px 24px;
    font-size: 1.1rem;
    background-color: white;
    border-bottom: 10px solid var(--medium-violet);
    box-shadow: 4px 3px 8px -4px rgba(112, 112, 112, 1);

    h4 {
        margin-top: 40px;
        padding-top: 12px;
        border-top: 1px dotted var(--midnight-violet);
    }

    form {
        label {
            font-weight: 500;
            padding-bottom: 12px;
        }

        input {
            height: 30px;
            font-size: 1.1rem;
            text-indent: 5px;
            border: var(--dark-violet) 1px dotted;
        }

        .personal-data {
            @include mixinLib.gridAutofit();

            .firstname,
            .lastname,
            .birthday,
            .marital-status {
                @include mixinLib.flexColumn();

                // for custom select styling:
                // .custom-select {
                // }
            }

            .children {
                @include mixinLib.flexColumn();

                .children-checkbox-container {
                    display: flex;
                    align-items: center;

                    label {
                        margin-right: 8px;
                        padding-bottom: 0;
                    }

                    input {
                        margin-right: 32px;
                    }
                }
            }
        }

        .address {
            @include mixinLib.gridAutofit();

            .street,
            .city,
            .zip,
            .country {
                @include mixinLib.flexColumn();

                select>option {
                    font-size: 1.2rem;
                }
            }
        }

        .contact {
            @include mixinLib.gridAutofit();

            .phone,
            .email {
                @include mixinLib.flexColumn();
            }
        }

        .work {
            @include mixinLib.gridAutofit();

            .employer {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 8px;
                align-items: center;
            }

            .salary {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 8px;
                align-items: center;

                label {
                    grid-column: 1 / 3;
                    grid-row: 1 / 2;
                }
            }
        }
    }
}

// Button
// =======================
.submit {
    // display: flex;
    // justify-content: right;
    margin: 0px 1.5rem 24px 1.5rem;
    display: inline-block;
    justify-items: right;

    padding: 10px 40px;
    background-color: var(--midnight-violet);
    color: var(--white-violet);
    font-size: 1rem;
    font-weight: 600;
    border: 4px solid var(--midnight-violet);
    border-radius: 8px;
    transition: 0.3s;

    &:hover {
        background-color: transparent;
        color: var(--midnight-violet);
    }
}

// Container for loading spinner and loading message
// ===================================================
.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    // Loading spinner
    // =======================
    .spinner {
        display: none;
        width: 11.2px;
        height: 11.2px;
        animation: spinner-o824ag 1s infinite linear;

        div {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #221d47;
            border-radius: 50%;
            animation: spinner-vse6n7 1.25s infinite ease;

            &:nth-child(1) {
                --rotation: 90;
            }

            &:nth-child(2) {
                --rotation: 180;
            }

            &:nth-child(3) {
                --rotation: 270;
            }

            &:nth-child(4) {
                --rotation: 360;
            }
        }
    }

    @keyframes spinner-vse6n7 {

        0%,
        100% {
            transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
        }

        50% {
            transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
        }
    }

    @keyframes spinner-o824ag {
        to {
            transform: rotate(360deg);
        }
    }

    // Loading message
    .loading-message {
        display: none;
        font-family: "RussoOne";
        color: var(--pale-midnight-violet);
        font-size: 1.1rem;
        text-align: center;
    }

    // show elements
    // =======================

    .visible {
        display: inline-block;
        margin-top: 15%;
    }

    .visible-message {
        display: block;
    }
}

// Container for redirecting buttons (after loading spinner)
// ===================================================
.redirect-container {
    margin-top: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.8s ease-in-out;
}

// hidden class
.hidden {
    display: none;
}