@use "../assets/generalStyles/mixinLib.scss";

.sorter {
    margin: 1.5rem;
    font-family: "RussoOne";
    font-size: 1.2rem;
    color: var(--pale-midnight-violet);
}

.loan-card-container {
    margin: 1.5rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    border-bottom: 1px dotted var(--midnight-violet);

    .loan-card {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 60px 50px;
        background-color: white;
        box-shadow: 4px 7px 16px -4px rgba(112, 112, 112, 1);
        @include mixinLib.coloredBorderBottom();
        font-family: "RussoOne";
        text-align: center;
        transition: 0.3s;

        &:hover {
            transform: scale(1.06);
            cursor: pointer;
        }

        .loan-amount {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: var(--white-violet);
            background-color: var(--medium-violet);
        }

        .loan-debtor-name {
            font-size: 1.3rem;
            color: var(--pale-midnight-violet);
            align-self: center;
        }
        // .loan-date {
        // }
        .paidOff-container {
            display: flex;
            align-items: center;
            align-self: end;
            font-family: "NotoSans";

            .loan-paid-status {
                flex-basis: 50%;
                font-weight: 600;
                border-right: 1px dotted var(--midnight-violet);
            }

            .not-paid-red {
                color: red;
            }

            .paid-green {
                color: rgb(1, 183, 1);
            }
            .loan-unpaid-installments {
                flex-grow: 1;
                & > span {
                    display: block;
                    font-weight: 700;
                }
            }
        }
    }
}
