@use "../assets/generalStyles/mixinLib.scss";

.loan-detail-container {
    @include mixinLib.gridAutofit();
    justify-content: center;

    // loan info data (amount...)
    .loan-data-container {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        .loan-data-info-wrapper {
            margin-bottom: 48px;
            display: flex;

            // LOAN GENERAL INFO (AMOUNT, INSTALLMENT)
            // ==========================================
            .loan-data-info-general {
                margin-right: 120px;
                width: 50%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: space-between;

                p {
                    padding-block: 12px;
                    font-size: 1rem;
                    border-bottom: 1px dotted var(--midnight-violet);

                    &:nth-of-type(even):nth-of-type(-n + 6) {
                        font-weight: 600;
                    }
                }

                .total-amount {
                    border-bottom: 7px double var(--medium-violet);
                    font-weight: 800;
                    font-size: 1.2rem;
                }
            }

            // RESIDUAL DEBT => paid - unpaid bar graph
            // ==========================================
            .loan-data-info-residual-debt {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3 {
                    margin-top: 0;
                    font-size: 1.5rem;
                    letter-spacing: 1px;
                }

                .residual-debt-legend {
                    padding-bottom: 6px;
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    font-weight: 600;

                    p:nth-of-type(1) {
                        padding-left: 12px;
                    }
                }

                // bar graph for amount paid/unpaid
                .residual-debt-grid {
                    width: 80%;
                    height: 50px;
                    border: 1px dotted var(--midnight-violet);
                    flex-grow: 1;
                    display: grid;
                    grid-template-columns: repeat(20, 5%);
                    grid-template-rows: 1fr;

                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        text-align: center;
                        font-family: "RussoOne";
                        color: var(--white-violet);
                        // grid-column: 1 / 10;
                        background-color: var(--dark-violet);
                        animation: fillAnimation 2s linear;

                        span {
                            align-self: center;
                            opacity: 0;
                            animation: appear 1s ease-out forwards;
                            animation-delay: 2s;
                        }
                    }
                }
            }
        }
    }

    // DEBTOR DATA INFO (contact...)
    // ================================
    .debtor-data-container {
        grid-column: 1 / -1;
        grid-row: 2 / 3;

        .debtor-data-personal-info {
            margin-bottom: 2rem;
            width: 40%;
            display: grid;
            grid-template-columns: 1fr 2fr;

            h3 {
                grid-column: 1 / 3;
                font-size: 1.5rem;
            }

            p {
                padding-block: 0px 12px;

                &:nth-of-type(odd) {
                    font-weight: 600;
                }
            }
        }
    }
}

.accordion-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 32px;

    button {
        padding: 10px 20px;
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    .accordion {
        width: 100%;

        .item {
            margin-bottom: 12px;
            padding-inline: 10px;
            border: 1px dotted var(--midnight-violet);
        }

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            color: var(--pale-midnight-violet);
            letter-spacing: 1px;

            // Open icon (+)
            .open {
                font-size: 1.5rem;
                color: var(--pale-midnight-violet);

                &::after {
                    content: "\002B";
                }
            }

            // Close icon (-)
            .close {
                font-size: 1.5rem;
                color: var(--pale-midnight-violet);

                &::after {
                    content: "\2013";
                }
            }
        }

        .content {
            padding: 20px;
            max-width: 60%;
            height: auto;
            display: grid;
            grid-template-columns: 200px 1fr;
            // grid-template-columns: 1fr 1fr;
            gap: 12px;

            p {
                &:nth-of-type(odd) {
                    font-weight: 600;
                }
            }
        }

        .content-flex {
            margin-bottom: 2rem;
            padding: 24px 60px 24px 30px;
            display: flex;
            justify-content: space-between;
            gap: 200px;

            p:nth-of-type(1) {
                padding-bottom: 12px;
                font-weight: 800;
            }

            .debtor-address {
                p {
                    line-height: 1.7;
                }

                .debtor-country {
                    text-transform: capitalize;
                }
            }

            .debtor-email {}
        }
    }
}

// Animations
// ==================================
// make graph bar slide in from left to right (residual debt)
@keyframes fillAnimation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

// make text with paid amount (residual debt) appear
@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}