@font-face {
    font-family: "NotoSans";
    src: url("./assets/font/NotoSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "RussoOne";
    src: url("./assets/font/RussoOne-Regular.ttf");
}

:root {
    --white-violet: #f8f3fb;
    --light-violet: #dec0f1;
    --light-violet-alpha: #dec0f1d2;
    --violet: #b79ced;
    --violet-alpha: #b79ced5a;
    --medium-violet: #957fef;
    --medium-violet-alpha: #957fef54;
    --dark-violet: #7161ef;
    --dark-violet-alpha: #7261ef56;
    --midnight-violet: #221d47;
    --pale-midnight-violet: #adacba;
}

html {
    scroll-behavior: smooth;

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "NotoSans";
        color: var(--midnight-violet);
        background-color: var(--midnight-violet);

        // text styles
        // ====================
        a {
            color: inherit;
            text-decoration: none;
        }

        p {
            margin: 0;
        }

        h3 {
            font-family: "RussoOne";
            font-size: 1.2rem;
        }
        .btn {
            display: inline-block;
            padding: 10px 40px;
            background-color: var(--midnight-violet);
            color: var(--white-violet);
            font-size: 1rem;
            font-weight: 600;
            border: 4px solid var(--midnight-violet);
            border-radius: 8px;
            transition: 0.3s;

            &:hover {
                background-color: transparent;
                color: var(--midnight-violet);
            }
        }

        .btn-colored {
            display: inline-block;
            padding: 20px;
            background-color: white;
            border: none;
            font-family: "RussoOne";
            font-size: 1.2rem;
            color: var(--pale-midnight-violet);
            position: relative;
            cursor: pointer;
            // box-shadow: 3px -2px 12px -4px rgba(112, 112, 112, 1);

            &:hover {
                background-color: transparent;
            }
        }

        .main-grid-structure {
            display: grid;
            grid-template-columns: 120px auto;
            grid-template-rows: 100px auto;
            border-top: 10px solid var(--midnight-violet);
            border-bottom: 10px solid var(--midnight-violet);
            border-right: 10px solid var(--midnight-violet);

            .nav-grid {
                grid-column: 1 / 2;
                grid-row: 1 / 3;
                background-color: var(--midnight-violet);
            }

            .header-grid {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                background-color: var(--white-violet);
                text-align: center;
                font-size: 2.5rem;
                font-family: "RussoOne";
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 1px dotted var(--midnight-violet);
            }

            .main-content-grid {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                background-color: var(--white-violet);

                h2 {
                    // margin-left: 1.5rem;
                    color: var(--midnight-violet);
                    font-size: 1.7rem;
                }

                input::placeholder {
                    color: var(--pale-midnight-violet);
                }

                input[type="date"]:invalid::-webkit-datetime-edit {
                    color: var(--pale-midnight-violet);
                    font-family: "NotoSans";
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
        }
    }
}
